<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
         <link rel="icon" href="images/weather.png">
    </head>
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <img class="protrait" src="images/6978b4ee-c100-4d56-8a75-30963d2da24e.jpg"> 
        </div>
    
         {{>footer}}
    </body>
    
</html>